

.home{
    position: relative;
    width: 100%;
}
.form-container{
    position:fixed;
    max-width: 310px;
    width: 100%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 101;
    background:#fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
}
.home.show .form-container{
     opacity: 1;
    pointer-events: auto;
}
.signup-form{
    display: none;
}
.form-close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}
.form-container h2{
    font: 22px;
    color: #0b0217;
    text-align: center;
}
.input_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}
.input_box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color:#333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus{
    border-color: #7d2ae8;
}
.input_box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.input_box .email{
    left: 0;
    color: #707070;
}
.input_box input:focus ~ i.email{
    color: #7d2ae8;
}
.input_box .password{
    left: 0;
    color: #707070;
}
.input_box input:focus ~ i.password{
    color: #7d2ae8;
}
.input_box .pw-hide{
    right: 0;
    color: #707070;
    cursor: pointer;
    font-size: 18px;
}
.option-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}
.form-container a{
    color: #7d2ae8;
    font-size: 12px;
    text-decoration: none;

}
.form-container a:hover{
    text-decoration: underline;
}
.checkbox{
    display: flex;
    white-space: nowrap;
    column-gap: 8px;
    font-size: 12px;
    cursor: pointer;
}
.checkbox input{
    accent-color: #7d2ae8;
}
.checkbox label{
    font-size: 12px;
    user-select: none;
    color: #0b0217;
    cursor: pointer;
}
.form-container .button{
    background: #061f3a;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    color: #fff;
}
.login_signup{
font-size: 12px;
text-align: center;
margin-top:15px;
}